.Header tr th,
.ItemChooserColumn tr td {
    box-sizing: border-box;
}

.Header,
.ItemChooserColumn {
    width: 100%;
}

div > table {
    width: 100%;
    table-layout: fixed;
}

.ItemChooserColumn tr td {
    border-bottom: solid 1px;
    border-right: solid 1px;
}

.Barcode { width: 6%; }
.Name { width: 34%; }
.Quantity { width: 5%; }
.VATRate { width: 7%; }
.VATAmount { width: 7%; }
.ListPrice { width: 7%; }
.Discount { width: 6%; }
.Rate { width: 7%; }
.Value { width: 8%; }
.Action { width: 5%; }

.cellRightAlign {
    text-align: right;
}

.cellCenterAlign {
    text-align: center;
}